{% load static %}

<!DOCTYPE html>
<html lang="en" class="dark">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static "bagsearch/style.css" %}">
  <script src= "{% static "bagsearch/script.js" %}"></script>
  <title>Beutelnet</title>
</head>

<body>
  <h1 style="position: absolute; top: 20px; left: 20px;">Beutelnet</h1>

		{% block content %}

		{% endblock %}

		<footer style="position: absolute; bottom: 20px; font-weight: 200; color: #b084f5;">
			Programmed by <a href="https://github.com/kawa800"> kawa </a> &nbsp ☕
		</footer>

</body>

</html>
