{% extends "bagsearch/body.html" %}

{% block input %}
	<h2>Ergebnis</h2>
		<table>
			{% if vacuumbags %}
			<thead>
				<tr>
					<th scope="col"> Supermarkt </th>
					<th scope="col"> Staubsauger</th>
					<th scope="col"> Beutel</th>
				</tr>
			{% for vacuumbag in vacuumbags %}
			</thead>
			<tbody>
				<tr>
					<td> {{vacuumbag.supermarket}} </td>
					<td> {{vacuumbag.vacuum}} </td>
					<td> 
						<svg width="50" height="50">
							<circle
								class="purple-circle"
								cx="25"
								cy="25"
								r="15">
							</circle>
							<text
								x="25"
								y="25"
								text-anchor="middle"
								dominant-baseline="middle"
								fill="white">
							 {{vacuumbag.size}} </text>
						</svg>
					</td>
				</tr>
			{% endfor %}
			{% else %}
				<tr>Entschuldigung: Kein Modell gefunden. </tr>
			{% endif %}
 		</tbody>
		</table>
{% endblock %}
